@charset "UTF-8";

/*
TEXT
font-family: 'Lato', sans-serif;
font-weight: 100 - 300;
*/


/*
COLOR for TEXT and BACKGROUND

Transparent	background-color: rgba(242,245,246,0.95);

Extended palette from Illustrator files

GREY	--> #COLOR		-->	used for
light:		#F2F5F6;		background elements + nav a:hover
accent:		#D7E0E5;		background nav + elements a:hover
accent:		#5F666A;		a + forms
dark:		#2F3335;		text

BLUE
light:		#E1E5E7;
accent:		#A6B1B7;		footer
accent:		#505E66;
dark:		#1B1F22;		H1

PURPLE
light:		#E7DFE6;
accent:		#B79EB4;
accent:		#664661;
dark:		#221720;		< H2

GREEN
light:		#E4E7E1;
accent:		#AFB7A6;
accent:		#5B6650;
dark:		#3D4436;


/* ---------------------------------- */
/*           MAIN STYLES              */
/* ---------------------------------- */


@media screen{
* {
	/* reset all default padding and margins */
	margin:0px;
	padding:0px;
}

html{
	font-family: 'Exo', sans-serif;
	font-weight: 400;
	color: #2F3335;
}

body{
    background-color: #B79EB4;
}

/* Font Size */
h1 {
	font-family: 'Bitter', serif;
	font-weight:700;
    font-size: 2.5em; /* 40px/16=2.5em */
    padding:1.5em 0 0.875em 0; /* 40px/16=2.5em */
    border-bottom:1px #000;
}

h1:after
{
    content:' ';
    display:block;
    border:1px double;
    width: 10%;
    margin-top: 0.875em;

    padding: 0.00875em;
    margin-left: auto;
    margin-right: auto;
}

h2 {
	font-family: 'Bitter', serif;
	font-weight:400;
    font-size: 1.875em; /* 30px/16=1.875em */
    padding:1.875em 0 0  0;
}

p {
    font-size: 0.875em; /* 14px/16=0.875em */
}

a{
	color:#5F666A;
	text-decoration:none;
}
a:hover{
	color:#D7E0E5;
}

form{
}
input{
	color:#5F666A;
	font-weight:300;
	background-color:#D7E0E5;
	border:none;
	padding:10px;
	margin:10px;
	font-family: 'Exo', sans-serif;
}

/* ---------------------------------- */
/*             TABLES                 */
/* ---------------------------------- */

td, th{
	padding:1em;
}

th{
	background-color:#AFB7A6;
}

tr:nth-child(even) {background-color: #F2F5F6}
tr:nth-child(odd) {background-color: #E4E7E1}

table{
	width: 100%;
	text-align: left;
	border: 0 solid #CCC;

}

/* ---------------------------------- */
/*             DEBUG                  */
/* ---------------------------------- */
/*

div{
	border-style:dashed;
	border-color:#096;
	border-width:1px;
}
/**/

/* ---------------------------------- */
/*             HEADER                 */
/* ---------------------------------- */

/* no header items in this site */
#hero{
	display: flex;
}

/* ---------------------------------- */
/*             MAIN CONTENT           */
/* ---------------------------------- */

/* WRAPPER / CONTAINER */

#container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* HERO = LOGO & TIMER */

#hero-logo{
}
#hero-logo img{
}

#countdown{
	display: flex;
	flex-direction: column;
	justify-content: center;
	color:#FFF;
	font-weight: 100;
	font-size: 2em;
	text-shadow: 1px 1px #ECD7C2; /*#CB7B76;*/
}


} /* close media screen */
