
* {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

/* font size */
html { font-size: 62.5%; }
body { font-size: 14px; font-size: 1.4rem; }
h1   { font-size: 24px; font-size: 2.4rem; }

/* font colors */
html {}
body { color:#222;}
h1, h2, h3   { color:#ECD7C2;}

/* font family */
html {
  font-family: 'lato', sans-serif;
  font-weight: 300;}
h1, h2, h3{
  font-family: 'salomeregular';
  font-weight: normal;
}


body{
  padding:0;
  margin: 0;
  background-color: #ECD7C2;

/* no parallax - background with stretch

--obsolete with parallax*/
  background: url('../img/bg1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
*/
}


/* milk glass faded */
.milk{
   background-color:rgba(256,256,256,0.2);
}
/* afronding */
.border-radius{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.row{
}
.container-fluid{
  padding: 2em;
}
.devider{
  margin: 2em auto 4em auto; /* top right bottom left */
}
.affix-top,.affix-bottom {
    width:100%;
    position:fixed;
    display:block;
}

.affix {
    display:none;
}


.bg-1{
  background: url('../img/bg1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    background-size: cover;
}


.navbar{
  display: none;
  margin: 0;
  padding: 0;
}

.jumbotron{
  position: relative;
  padding-top: 0;
  margin-top: 0;
  height: 650px;
  width: 100%;
  background:transparent;
}

.jumbotron showcase-img{
  width: 90%;
}

.jumbotron .lead{
  margin-top: 1em;
  color: #FFF;
  text-shadow: #CB7B76 0 1px 1px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 2em;
}
.jumbotron h1{
  margin-top: 2em;
  color: #FFF;
  text-shadow: #CB7B76 0 1px 1px;
  font-size: 4em;
}


/* Planning */

#when{
  background-color: #FFF;
}
/* remove padding, margin, bullet, and center content */
ul{
  margin:0;
  padding:0;
}
li{
  list-style-type: none;
  list-style-position:inside;
  text-align: center;
}
hr{
  width:40%;
}
.img-responsive{
  max-width: 50%;
  margin-left: 25%;
}

#where{
  background-color: #FFF;
  width: 100%;
}
#map {
  width:100%; height: 400px;
}

#what{
  background-color:#FFF;
}


.sl01{
  background: url('../img/sl01.svg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    background-size: cover;
}
.sl01{
  height: 300px;
}
footer{
  background-color:transparent;
  height: 300px;
}
footer .credits{
  font-size: 0.8em;
  color: #ECD7C2 !important;
  text-align: center;
}
footer a{
  color: #ECD7C2 !important;
}

i {
  color: #ECD7C2 !important;

}

.illustration img{
  width: 60%;
  text-align: center;
}


/* Text alginment Setup */
/* Extra Small devices (phones, below 768px) */
  .text-xs-left { text-align: left; }
  .text-xs-right { text-align: right; }
  .text-xs-center { text-align: center; }
  .text-xs-justify { text-align: justify; }

/* Small devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .text-sm-left { text-align: left; }
    .text-sm-right { text-align: right; }
    .text-sm-center { text-align: center; }
    .text-sm-justify { text-align: justify; }
  }

/* Medium devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    .text-md-left { text-align: left; }
    .text-md-right { text-align: right; }
    .text-md-center { text-align: center; }
    .text-md-justify { text-align: justify; }
  }
/* Large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    .text-lg-left { text-align: left; }
    .text-lg-right { text-align: right; }
    .text-lg-center { text-align: center; }
    .text-lg-justify { text-align: justify; }
  }
